@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.show {
    display: block;
}

.hide{
    display: none;
}

#splashScreen {
    width: max-content;
}

#splashScreen button {
    position: absolute;
    z-index: 100;
    top: 65%;
    height: 17%;
    width: 30%;
    font-size: 50px;
    color: rgb(49, 2, 49);
    background-color: yellow;
    border: 5px rgb(49, 2, 49) solid;
    border-radius: 40%;
}

#start {
    left: 40%;
}

#howTo {
    left: 5%;
}

#howToScreen p{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

#howToScreen button{
    position: absolute;
    z-index: 100;
    height: 17%;
    width: 30%;
    left: 35%;
    margin-top: 30px;
    font-size: 50px;
    color: rgb(49, 2, 49);
    background-color: yellow;
    border: 5px rgb(49, 2, 49) solid;
    border-radius: 40%;
}

h1 {
    font-size: 200px;
    text-align: center;
}