@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
}

.show {
    display: block;
}

.hide{
    display: none;
}

#splashScreen img{
    width: 100%;
}

button {
    height: 17%;
    width: 30%;
    font-size: 50px;
    --c: goldenrod;
    color: var(--c);
    font-size: 50px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    background-color: rgb(182, 60, 60);
}

button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

button:hover {
color: black;
}

button:hover span {
    transform: translateY(0) scale(2);
}

button span:nth-child(1) {
    --n: 1;
}

button span:nth-child(2) {
    --n: 2;
}

button span:nth-child(3) {
    --n: 3;
}

button span:nth-child(4) {
    --n: 4;
}

#splashScreen button {
    position: absolute;
    z-index: 100;
    bottom: 50px;
}

#start {
    left: 50%;
}

#howTo {
    left: 10%;
}

#howToScreen p{
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

#howToScreen button{
    position: absolute;
    z-index: 100;
    height: 17%; 
    width: 30%;
    left: 33%;
}

h1 {
    font-size: 200px;
    text-align: center;
    margin-top:10%;
    color:  rgb(182, 60, 60);
}

#gameScreen img {
    width: 90%;
}

#timer {
    position: absolute;
    font-size: 6rem;
    z-index: 100;
    color: white;
    left: 24%;
    top: 12%;
}

#winScreen img {
    width: 108rem;
}

.winBtn{
    position: absolute;
    top: 2rem;
    height: 17%; 
    width: auto;
    left: 40%;
    margin-top: 30px;
}

#loseScreen img {
    width: 108rem;
}

.loseBtn {
    position: absolute;
    top: 79%;
    height: 17%; 
    width: auto;
    left: 40%;
    margin-top: 30px;
}