@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.show {
    visibility: visible;
}

.hide{
    visibility: hidden;
}

#splashScreen {
    width: max-content;
}

#splashScreen button {
    position: absolute;
    z-index: 100;
    top: 65%;
    height: 17%;
    width: 30%;
    font-size: 50px;
    color: rgb(49, 2, 49);
    background-color: yellow;
    border: 5px rgb(49, 2, 49) solid;
    border-radius: 40%;
}

#start {
    left: 40%;
}

#howTo {
    left: 5%;
}

h1 {
    font-size: 200px;
}